.App {
  margin: 20px auto;
  max-width: 600px;
}

.App small {
  font-size: 12px;
}

.App small a {
  text-decoration: none;
}

.App small a:hover {
  color: #161d6f;
  text-decoration: underline;
}
