.Weather {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 15px;
  max-width: 600px;
  margin: 0px auto;
}

body {
  font-family: "Questrial", sans-serif;
}

h1 {
  color: #222831;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  line-height: 50px;
  margin: 0;
  margin-top: 15px;
}

ul {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

li {
  color: #393e46;
  list-style: none;
  font-size: 16px;
  font-weight: 100;
}

.description {
  font-size: 22px;
}

.date-now,
.wind-speed,
.humidity {
  font-size: 19px;
}

.current-time {
  font-size: 22px;
}

.form-control {
  width: 40%;
  display: inline;
}

.btn-light {
  margin-left: 10px;
  padding: 3px 6px;
}

.weatherIcon {
  margin: 0;
  padding: 0;
  width: 20%;
}

.temperature {
  color: #393e46;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
}

.units {
  color: #393e46;
  font-weight: 900;
  position: relative;
  top: -13px;
}

.units a {
  text-decoration: none;
}

.fa-water {
  color: #5eaaa8;
}

.fa-wind {
  color: #c7cfb7;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #222831;
  font-weight: 400;
}

.weather-forecast h3 {
  font-size: 14px;
  line-height: 15px;
  padding-top: 7px;
  margin: 0;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  line-height: 15px;
}
